html {
    margin: 0;
    padding: 0;
}
    html body {
        font-family: Arial, Helvetica, sans-serif;
    }

* {
    margin: 0;
    padding: 0;
}

.shadowed-hover:hover {
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,.55);
    cursor: pointer;
}